.footer {
	display: flex;
	text-align: center;
	// .footer__content

	&__content {
	}
}
.contacts {
	// .contacts__title

	&__title {
		font-size: 34px;
		font-family: "Gilroy-Bold";
	}

	// .contacts__text

	&__text {
		font-size: 18px;
		line-height: 22/18 * 100%;
	}

	// .contacts__btn

	&__btn {
		background: #070707;
		color: #fff;
		font-size: 18px;
		padding: 13px 30px;
		border-radius: 24px;
	}
}
.social {
	// .social__items

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .social__item

	&__item {
	}

	// .social__text

	&__text {
	}
}

//====================================================================================================

//====================================================================================================
