//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy-Medium";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ЦВЕТА>===============================================================================================
//</ЦВЕТА>===============================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 944;
$md1: $maxWidthContainer + 12;
$md2: 767.98;
$md3: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #21243d;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@media (max-width: $md1+px) {
		max-width: none;
		max-width: 750px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.hello {
}

.hello-header {
	//todo разобраться с лайнхейт + Pixel perfect!
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 40px 0px 55px 0px;
	// .hello-header__item

	&__item {
	}
}
.hello-header-title {
	max-width: 150px;
	font-family: "Gilroy-Bold";
	font-size: 47px;
	line-height: 59/47 * 100%;
}
.hello-header-desc {
	font-size: 18px;
	line-height: 22/18 * 100%;
	padding: 0px 0px 8px 0px;
}
.hello-header-vertical {
	writing-mode: tb-rl;
	transform: rotate(180deg);
	font-size: 16px;
	padding: 11px 0px 0px 0px;
}
.hello-header-vertical-bold {
	font-family: "Gilroy-Bold";
}
.hello-footer {
	// .hello-footer__img

	&__img {
		margin: 0px 0px 105px 0px;
	}
}

.about {
	background-color: #f6f6f6;
	display: flex;
	align-items: center;
	text-align: center;
	// .about__title

	&__title {
		margin: 120px 0px 22px 0px;
		font-family: "Gilroy-bold";
		font-size: 34px;
		line-height: 42/32 * 100%;
		color: #070707;
	}

	// .about__text

	&__text {
		font-size: 18px;
		line-height: 22/18 * 100%;
		margin-bottom: 45px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}
.about-column {
	margin-bottom: 110px;
	max-width: 500px;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
